@model WhatsSupp.Models.Diner

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hi, @Model.FirstName @Model.LastName!</h1>

<div>
    <a class="btn-primary" asp-action="SetupWhatsSupp">
        <button type="button" class="btn btn-primary">Let's Get Started</button>
    </a>
    
</div>
<div class="row">
   <div class="col-8"></div>

</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.Contacts)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        

    </tbody>
</table>
