@model WhatsSupp.Models.Diner

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hi, @Model.FirstName @Model.LastName!</h1>
<h3>What would you like to do?</h3>
<div class="row" style="padding-top: 25px">
    <div class=" col-3">
        <a class="btn-primary" asp-action="SetupWhatsSupp">
            <button type="button" class="btn btn-primary">Start A Fresh WhatsSupp!</button>
        </a>
    </div>
    <div class=" col-3">
        <a class="btn-primary" asp-action="ChooseAWhatsSupp">
            <button type="button" class="btn btn-primary">Continue WhatsSupp</button>
        </a>
    </div>
    <div class="col-3">
        <a class="btn-primary" asp-action="Edit" asp-route-id="@Model.DinerId">
            <button type="button" class="btn btn-primary">Update Your Preferences</button>
        </a>
    </div>
    <div class="col-3">
        <a class="btn-primary" asp-action="Search">
            <button type="button" class="btn btn-primary">Find a New Contact</button>
        </a>
    </div>
</div>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.Contacts)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        

    </tbody>
</table>
